@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    font-family: 'Montserrat Alternates', sans-serif;
   
}
html{
  scroll-behavior: smooth;
}
.container{
    background-color: black;
    padding: 10px 10%;
}

#header{
    width: 100%;
    height: 100vh;
    
}
nav{
    display:flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
 }
 .logo{
    width: 250px;

 }
 nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
 }
 nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    position: relative;
 }
 nav ul li a::after{
    position: absolute;
    content: '';
    width:0;
    background: #6ECCAF;
    height: 3px;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
 }
 nav ul li a:hover::after{
    width: 100%;
 }
.header-text{
   margin: 5%;
}
 .header-text p{
    color:white;
    margin-top: 20%;
    font-size: 30px;
 }
 .header-text h1{
   color:white;
   font-size: 60px;
 }
 .header-text h3{
  color: white;
  margin-top: 10px;

 }
 .header-text span{
  color: #6ECCAF;
 }
 .header-image{
   display: flex;
   justify-content: right;
   flex-wrap: wrap;
 }
 .section{
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
 }
 .btn-1{
  display:inline-block;
  font-size: 18px;
  color:white;  
 }

/* --------About------ */
#about{
padding: 80px 0;
color: white;
text-align: justify;
font-size: 19px;
}
.row{
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
 }
 .about-col-1{
   flex-basis: 35%;
   padding: 15px;
 }
 .about-col-2{
   flex-basis: 60%;
   padding: 15px;
   width: 15px;
   text-align: justify;
   line-height: 1.7em;
 }
 .about-col-1 img{
   border-radius: 100%;
   width: 100%;
   margin:5%
 }
 .about-col-2 h1{
   color: #6ECCAF;
 }
 .sub-title{
   font-size: 50px;
   color: #6ECCAF;
   line-height: 2em;
 }
 .keys{
  color: #6ECCAF;
 }
 /* Services------ */
 #services{
  color: white;
  padding: 30px 0;
}
.list{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
  grid-gap: 40px;
  margin-bottom: 50px;
}
.list div{
  background-color: #3c3939;
  padding: 40px;
  font-size: 13px;
  border-radius: 10px;
  font-weight: 300;
  text-align: center;
  transition: 0.5s,transform 0.5s;
}
.list div i{
font-size: 50px;
margin-bottom: 30px;

}
.list div h2{
  margin-bottom:15px ;
  font-weight: 500;
  font-size: 30px ;
}

.list div:hover{
  background: #6ECCAF;
  transform: translateY(-10px);

}

/*-------------- Technical Skills------------- */
#my-skills {

  /* background: #fff; */
  padding: 80px 0;
  color: white;
  text-align: justify;
  /* transform: translate(-50%, -50%); */
  font-size: 19px;
}
.skills-col-1{
  flex-basis: 50%;
}
.skills-col-2{
  flex-basis: 45%;
  font-size: 20px;
  color:white;
}

.skills-bar {
  padding: 0px 30px;
}

.skills-bar .bar {
  margin: 25px 0;
}

.skills-bar .bar .info span {
  font-size: 1rem;
  font-weight: 500;
}

.skills-bar .bar .info {
  margin-bottom: 8px;
  color:white;
}

.skills-bar .bar .progress-line {
  position: relative;
  height: 10px;
  width: 550px;
  background: #f0f0f0;
  border-radius: 10px;
  transform: scaleX(0);
  transform-origin: left;
  animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}

.bar .progress-line span {
  position: absolute;
  background: #6ECCAF;
  height: 100%;
  border-radius: 10px;
  transform: scaleX(0);
  transform-origin: left;
  text-transfrom : uppercase;
  animation: animate 1s 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}

@keyframes animate {
  100% {
    transform: scaleX(1);
  }
}

.progress-line .html {
  width: 80%;
}
.progress-line .css {
  width: 85%;
}
.progress-line .bootstrap {
  width: 70%;
}
.progress-line .javascript {
  width: 70%;
}
.progress-line .c {
  width: 95%;
}

.bar .progress-line span::before {
  position: absolute;
  content: "";
  height: 0;
  right: 0;
  top: -14px;
  width: 0;
  border: 7px solid transparent;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-style: white;
  border-top-color: #3c3939;
}

.bar .progress-line span::after {
  position: absolute;
  right: 0;
  top: -28px;
  color: white;
  font-size: 12px;
  font-weight: 700;
  background: #3c3939;
  padding: 1px 8px;
  border-radius: 3px;
}


.progress-line .html::after {
  content: "80%";
}
.progress-line .css::after {
  content: "85%";
}
.progress-line .bootstrap::after {
  content: "70%";
}
.progress-line .javascript::after {
  content: "70%";
}
.progress-line .c::after {
  content: "95%";
}

/* -------------Professional Skill---------------- */
.mh-skills .mh-professional-skill{
padding-right: 60px;
color: white;  
}
.technical-skills h3{
  font-size: 30px;
  line-height: 40px;
  text-align: center;
  color: #6ECCAF;  
  margin-bottom: 60px;
  }
mh-professional-skills{
  padding-left: 20%;
}
.mh-professional-skills h3{
  font-size: 30px;
  line-height: 40px;
  text-align: center;
  color: #6ECCAF;  
  margin-bottom: 60px;
}


.mh-professional-progress{
    padding-right: 0px;
    color: white;
  }
  .mh-professional-progress h3{
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    color: #6ECCAF;  
    margin-bottom: 50px;;
    }
  .mh-professional-progress li{
  display: inline-block;
  margin: 0 auto;
  float: none;
  width: 48%;
  margin-bottom: 30px;
  text-align: center;
  }
.mh-progress{
margin-bottom: 10px;
font: 900 1.4285/1;
color: white;
}
.mh-progress .progressbar-text{
  color: white !important;
}
.progress.progress-line{
  height: 10px;
  margin-right:60px ; 
}
.progress.progress-line .progressbar-text{
  position: absolute;
  top: 50%;
  left:100%;
  width: 60px;
  text-align: center;
  transform: translateY(-35);

}
.mh-progress.mh-progress-circle{
  display:  inline-block;
  width: 100px;
  height: 100px;
}
.mh-progress path:nth-child(1){
  stroke: #3c3939;
}
.mh-progress path:nth-child(2){
  stroke: #6ECCAF;
}

/* ---------Contact--------- */

.contact-left{
flex-basis: 35%;
}
.contact-right{
  flex-basis: 65%;
}
.contact-left p{
  color: white;
  margin-top: 30px ;
}
.contact-left p i{
  color: #6ECCAF;
  margin-right: 15px;
  font-size: 20px;
}

.social-icons{
  margin-top:30px;
}

.social-icons a{
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  color: white;
  margin-right: 10px;
  transition: transform 0.5s;
}

.social-icons a:hover{
  color: #6ECCAF;
  transform: translateY(-5px);
}

.contact-right form{
width: 100%;
}
form input, form textarea{
width: 100%;
background: #3c3939;
border: 0;
outline: none;
padding: 15px;
margin: 15px 0;
color:white;
font-size: 18px;
border-radius: 6px;
font-family:'Montserrat Alternates', sans-serif;
}
form .btn-2{
  padding: 14px 60px;
  font-size: 20px;
  cursor: pointer;
  margin: 20px auto;
  background-color: #6ECCAF;
  display:inline-block;
  font-size: 18px;
  color:white;  
  transition: background 0.5s;
  font-family:'Montserrat Alternates', sans-serif;

}
.btn{
  display: block;
  margin: 50px auto;
  width:fit-content;
  border: 1px solid #6ECCAF;
  border-radius: 6px;
  padding: 14px 50px;
  text-decoration: none;
  color: white;
  transition: background 0.5s;
}
.btn:hover{
 background: #6ECCAF;
}
.btn-2:hover{
  background:#3c3939;
}

.copyright{
  width: 100%;
  text-align: center;
  padding: 25px 0;
  color: white;
  background: #3c3939;
  margin-top: 20px;
}
.copyright a{
  color: #6ECCAF;
  text-decoration: none;
}
#msg{
  color: #6ECCAF;
  margin-top: -40px;
  display: block;
}

/* -------Responsiveness--------- */
/* ////........Media Query........//// */
#msg{
  margin-top: 15px;
}
nav .fa-solid{
  display: none;
}

@media (max-width: 600px) {
  .section{
    flex-direction: row-reverse;
    display: flex;
    flex-wrap:nowrap;
    /* flex-direction: column-reverse; */
  }
  .row{
    margin-block: -70%;
    display: block;
  }
  .section .header-text{
    flex-basis: 30%;
    margin-top: 10%;
    font-size:15px ;
    /* padding-block: 30%; ; */
  }
  .section .header-image{
    margin-right: -20%;
    width: 95%;
    display: flex;
    justify-content: right;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .header-text h1{
    font-size: 30px;
  }
  .btn.btn-1{

  }
  #about{
    margin-top: -50%;
  }
  .about-col-2{
    display: contents;
  }
  .about-col-1 img{
    display: none;
    /* width: 27%; */
    /* position: absolute; */
    /* left: 250px; */
  }
  
  .skills{
      width: 80%;
  }

  .skills-bar .bar .progress-line{
      width: 100%;
  }
  nav .fa-solid{
    display: block;
    color: white;
    font-size: 25px;
  }
  nav ul{
    background:#3c3939;
    position: fixed;
    top: 0;
    right: -200px;
    width: 200px;
    height: 100vh;
    padding-top: 50px;
    z-index: 2;
    transition: right 0.5s;
  }
  nav ul li{
    display: block;
    margin: 25px;
  }
  nav ul .fa-solid{
    position: absolute;
    left:25px;
    top: 25px;
    corsor:pointer;
  }

  #services{
    margin-block: 40%;
  }
.mh-professional-skills{
margin-block: 40px;
margin-bottom: 150%;
}
.pr-skill-name{
  font-size: 13px;
}
.social-icons .fa-brands, .fab{
  width: 25px;
}
.copyright{
  margin-top:300px ;
}
}


